.button-container {
  display: flex;
  justify-content: space-between;
  /* or any other value that fits your design */
}

.cardTitle {
  display: flex;
  justify-content: space-between;
}

.cardTitle p {
  margin: 0;
  /* Remove default margin on paragraphs */
}


.card-container {
  width: 75%;
  margin: auto;
  justify-content: space-around;
  text-align: center;

  /* Add a border to the card-container */
}

.card {
  border: 1px solid #ccc;
  /* Add a border to each card */
  border-radius: 8px;
  /* Optional: Add border-radius for rounded corners */
  padding: 10px;
  /* Optional: Add padding for better spacing */
  margin: 10px;
  /* Optional: Add margin for better spacing */
}

.name {
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.number {
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description {
  font-size: 25px;
  font-family: 'Arial', 'Helvetica', sans-serif;
  text-align: left;
}